.login_bg{
    background-image: url('../../../assets/images/Authentication.svg');
    background-repeat: no-repeat!important;
    height: 100vh;
    max-width: inherit!important;
    background-position:center!important;
}